.main-contaner {
  background-color: #e0e0e061;
  height: 957px;
  position: relative;
}
//Heading
h4.header-lg {
    margin-right: 900px;
}
h4.header-md {
    margin-right: 1141px;
}
.link-db {
    margin-left: -117px;
}
.custom-select {
  display: inline-block;
  width: 38%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
//   background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.table {
  width: 76%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  margin-left: -345px;
  margin-top: 36px;
}
div#richtexteditor_593717673_0_rte-edit-view {
  background-color: #bdbdbd36;
}
div#richtexteditor_593717673_0_toolbar {
  background-color: #bdbdbd36;
}
ejs-richtexteditor#richtexteditor_593717673_0 {
  margin-left: -344px;
  height: 373px;
}
ejs-richtexteditor#richtexteditor_593717673_0[_ngcontent-dsg-c6] {
  margin-left: -344px;
  height: 373px;
  width: 90%;
}
.box{
  height: 400px;
  width: 75%;
}
element.style {
  width: 77%;
  height: auto;
}
.col-md-12.btn-box {
  margin-left: -343px;
}
button.btn.btn-primary.btn-sm-2.text-white.btn-save {
  background-color: rgba(0, 0, 0, 0.59);
  border: none;
  padding: 7px 12px;
}
button.btn.btn-danger.btn-sm-2.text-white.btn-cancel {
  background-color: #ffc41c;
  border: none;
  padding: 7px 5px;
}
h1.header {
  margin-right: 983px;
  color: #887f7feb;
}
a.nav-link.active {
  color: #e9520cbd;
  font-weight: 500;
}
a.nav-link{
  color: #0093ffbd;
  font-weight: 500;
}
element.style {
  margin-bottom: 162px;
}
ejs-richtexteditor#richtexteditor_1899407818_0 {
    margin-left: -346px;
    // border-right-width: 262px;
}
.form-box {
    margin-left: 400px;
}
