<div style="display: inline-block; vertical-align: top;padding-top:30px; padding-left:10px">
    <div id="dvSearch">
       <div style="font-size:large; font-weight: 600px" >
          <label style="font-weight: 700px">Search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>

       </div>
       <form class="form-inline mr-auto ">
          <input type="search" pInputText #searchInput class="form-control" id="txtbxsearch" style="width: 70%;height: 35px;" name='n1' placeholder=" Article Name / Description">
          <button class="btn btn-primary" (click)="onSearchClick(searchInput.value)" style="margin-left:6px; background-color: #34495e; border-color: #34495e; color: #fff;" >Search</button>
       </form>
       <hr style="border: 1px solid #d4cfc3;">
       <h3 style="margin-top:30px;">Categories</h3>
       <ul style="list-style: none;padding-left: 0px;width: 100%;">
          <div class="form-group">
             <div *ngFor="let option of arr1">
                <label>
                <input *ngIf="option.categoryId === selectedAnswer" type="checkbox" [ngModel]="option.categoryId === selectedAnswer"
                name="options"
                value="{{option.categoryName}}"
                style="display: inline-flexbox"
                />
                <label (click)="updateCheckedOptions(option.categoryId)">{{option.categoryName}}</label>
                </label>
             </div>
          </div>
       </ul>
    </div>
 </div>
