.main-contaner {
    background-color: #80808000;
    height: 1000px;
    position: relative;
    background-color: #8080801f;
  }
  .main-content {
    background-color: #80808026;
    width: 100%;
    float: left;
}

// h4.header {
//     margin-right: 1729px;
//     float: left;
// }

.container {
    float: -28px;
    margin-left: 0px;
    margin-top: 10px;
    height: 1700px;
}
  .custom-select {
    display: inline-block;
    width: 38%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    // background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .table {
    width: 76%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    margin-left: -345px;
    margin-top: 40PX;
  }
  div#richtexteditor_593717673_0_rte-edit-view {
    background-color: #bdbdbd36;
  }
  div#richtexteditor_593717673_0_toolbar {
    background-color: #bdbdbd36;
  }
  ejs-richtexteditor#richtexteditor_593717673_0 {
    margin-left: -344px;
    height: 373px;
  }
  ejs-richtexteditor#richtexteditor_593717673_0[_ngcontent-dsg-c6] {
    margin-left: -344px;
    height: 373px;
    width: 90%;
  }
  .box{
    height: 400px;
    width: 75%;
  }
  element.style {
    width: 77%;
    height: auto;
  }
  .col-md-12.btn-box {
    margin-left: -343px;
  }
  .btn-primary {
    background-color: #34495e;
    border-color: #34495e;
    color: #fff;
}
.btn-warning {
    background-color: #ffb606;
    border-color: #ffb606;
    color: #fff;
}

//   button.btn.btn-primary.btn-sm-2.text-white.btn-save {
//     background-color: rgba(0, 0, 0, 0.59);
//     border: none;
//     padding: 7px 12px;
//   }
//   button.btn.btn-danger.btn-sm-2.text-white.btn-cancel {
//     background-color: #ffc41c;
//     border: none;
//     padding: 7px 5px;
//   }
  h4.header {
    margin-right: 983px;
    color: #887f7feb;
  }
  a.nav-link.active {
    color: #0093ffbd;
    font-weight: 500;
  }
  a.nav-link{
    color: #0093ffbd;
    font-weight: 500;
  }
  element.style {
    margin-bottom: 162px;
  }
  ejs-richtexteditor#richtexteditor_1225498114_0 {
    margin-left: -345px;
  }
  ejs-richtexteditor#richtexteditor_1050597303_0 {
    margin-left: -344px;
}
button.btn.btn-primary {
    margin-top: -2552px;
    margin-left: 15px;
}
button.btn.btn-warning {
    margin-top: -2552px;
}
.vertical-line {
    float: left;
    height: 1700px;
    width: 2px;
    background-color: lightgray;
}
.container-fluid {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    float: left;
}
.container-fluid.second-card {
    width: 62%;
}
