<div class="main-content">
    <div class="container-fluid">
        <h1>hrms dashboard</h1>
    </div>

    <div class="ui-g-12 ui-md-12 ui-g-nopad">

        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">Last Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <div class="form-group">
                        <label for="fname">First Name</label>
                        <div>
                            <span id="fname">test</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>